@import "tailwindcss";

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-stone-600);
    border-radius: 4px;

    cursor: default;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-stone-500);
  }
}

@theme {
  --breakpoint-xs: 530px;
  --animate-blink: blink 1200ms linear infinite;
  --animate-fadeIn: fadeIn 1s forwards;

  @keyframes blink {
    25% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
